body {
  font-family: "Dosis", "Arial", sans-serif!important;
  display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url(./images/light.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

h1 {
  text-align: center;
}



@media (max-width: 500px){
  iframe {
    width: 80%;
    height: 80%;
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  } to {
    transform: scale(1);
  }
}


header h1 {
  animation: zoom 2s 1;
}

.card:hover {
  transform: scale(1.10);
  transition: transform 1s;
}

#aboutme {
  padding-bottom: 15px;
}

#aboutme h2 {
  text-align: center;
  margin: auto;
  padding: 15px;
}

#contactme h2 {
  margin: auto;
  padding: 15px;
}

.w-80 {
  max-width: 80vw;
  width: 100%;
}

.bg-custom {
  background: linear-gradient(to bottom, #000000 0%, #606060 50%, #ffffff 100%);
}

.bg-custom-alt {
  background: linear-gradient(to top, #000000 0%, #606060 50%, #ffffff 100%);
}

.bg-black {
  background:black;
}


footer {
  max-height: 150px;
  height: 100%;
  background-color: black;
  color: white;
}

.welcome {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 45rem;
    padding: 15rem 0;
/*     background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url(./images/light.jpeg) no-repeat center center fixed; */
    background-position: center;
    background-repeat: no-repeat;
     /*background-attachment: scroll; */
    background-size: cover;
  }
