
<div class="section">
	<div class="row h-100 align-items-center text-center">

		<div class="col">
		
			<%= image_tag 'myAvatar.png', class:"w-25 js-tilt" %>
			<div id="main-heading">
				<h2 class="text-white">Matthew Cross</h2>
				<h3 class="text-white">I'm a Full Stack Web Developer</h3>
			</div>
		</div>

		<h5 id="arrow-label" class="text-success">Slide Down</h5>

		<div class="down-arrow text-success">
			<h1><i class="fas fa-angle-double-down"></i></h1>
		</div>


	</div>

</div>
<div class="section text-center text-success">
	<div class="slide">
		<div class="row h-100 align-items-center text-center">	
		

				<div class="col w-50 card bg-transparent ">
					<h2>FireBnB</h2>
				  <%= image_tag 'firebnb.png', style:"width: 30rem;", class:"mx-auto" %>
				    <h5 class="card-title">Ruby On Rails</h5>
				  <div class="card-body mx-auto" style="width: 30rem;">
				    <p class="card-text">First project built using Ruby on Rails. Project was undertaken during my Full Stack Web Development Bootcamp with NEXT Academy. Emphasising the understanding of back end web development by making an AirBnB clone with as much raw coding and minimal use of gems as possible, to fully understand how the back end works.</p>
				    <a href="https://github.com/mattyc246/airbnb" class="btn btn-outline-success">View Repo</a>
				  </div>
				</div>

			</div>

	</div>
	<div class="slide">
			<div class="row h-100 align-items-center text-center">	
			

					<div class="col w-50 card bg-transparent ">
						<h2>Tweeter</h2>
					  <%= image_tag 'tweeter.png', style:"width: 30rem;", class:"mx-auto" %>
					    <h5 class="card-title">Sinatra</h5>
					  <div class="card-body mx-auto" style="width: 30rem;">
					    <p class="card-text">Built using Sinatra framework. A checkpoint assessment at NEXT Academy. With a time limit of 6 hours to complete a user authentication system with integrated Tweets and user profiles.</p>
					    <a href="https://github.com/mattyc246/twitter-sinatra-assessment" class="btn btn-outline-success">View Repo</a>
					  </div>
					</div>

				</div>

	</div>
	<div class="slide">
			<div class="row h-100 align-items-center text-center">	
			

					<div class="col w-50 card bg-transparent ">
						<h2>thebetterQuora</h2>
					  <%= image_tag 'thebetterquora.png', style:"width: 30rem;", class:"mx-auto" %>
					    <h5 class="card-title">Sinatra</h5>
					  <div class="card-body mx-auto" style="width: 30rem;">
					    <p class="card-text">A clone of Quora. User authentication and authorization. Users can login, ask a question or answer a question and vote on answers they believe answer the question the best.</p>
					    <a href="https://github.com/mattyc246/quora-boilerplate" class="btn btn-outline-success">View Repo</a>
					  </div>
					</div>

				</div>

	</div>
	<div class="slide">
		<div class="row h-100 align-items-center text-center">	
		

				<div class="col w-50 bg-transparent ">
						<section id="game-container">
							<h1> Tic Tac Toe (Simple PvP)</h1>
							<br/>

							<section id="play-buttons">
								<br/>
								<a id="play-game" href="https://mattyc246.github.io/tictactoe/index.html" class="btn btn-outline-success"> Play Game </a>
							</section>
							

							
								
						</section>
				</div>

			</div>
	</div>
</div>
<div class="section text-center text-success">
	<h2>Résumé</h2>
	<a href="https://drive.google.com/uc?export=download&id=12Xq8KLGDigTRRFVt1SYqTsyf4GEJvjbr" class="btn btn-outline-success">Click To Download <i class="fas fa-cloud-download-alt"></i></a>
</div>
<div class="section text-center text-success">
	<h2>Contact Me:</h2>
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	    <a class="nav-link text-success" href="https://www.linkedin.com/in/matthew-cross"><h4><i class="fab fa-linkedin"></i> LinkedIn</h4></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-success" href="https://github.com/mattyc246"><h4><i class="fab fa-github"></i> Github</h4></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-success" href="https://www.instagram.com/mattyc246"><h4><i class="fab fa-instagram"></i> Instagram</h4></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link text-success" href="mailto:cross.matthew@hotmail.com"><h4><i class="fas fa-envelope"></i> Email</h4></a>
	  </li>
	</ul>
</div>
	<script>

		$('.js-tilt').tilt();

	</script>